.footer{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Inter';
}

.contacts{
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}