.logo{ 
    width: 47px;
    height: 52px;
    margin-left: 20px;

}

.header{
    top: 0;
    left: 0;
    height: 66px;
    display: flex;
    align-items: center;
}

.text-logo{
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 10px;
}

.text-cabinet{
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 702px;
}
