.logo{ 
    width: 47px;
    height: 52px;
    margin-left: 20px;

}

.logo_group {
    display: flex;
}

.menu {
    display: flex;
    gap: 100px;
    padding-left: 0px;
}

.header{
    top: 0;
    left: 0;
    height: 66px;
    display: flex;
    align-items: center;
}

.text-logo{
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 10px;
    padding-top: 8px;
}

.text-zaly{
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 300px;
    width: 50px;
}

.text-cabinet{
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 315px;
}
